
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header, footer {
    text-align: center;
}

header > h2 {
    font-size: 64px;
}

header > h1 {
    color: #333;
    font-size: 80px;
}

header > p {
    font-size: 32px;
}

header > h1 > span {
    color: #000;
}

footer > small {
    font-size: 10px;
    color: #aaa;
}

a {
    text-decoration: none;
}

@media handheld, only screen and (max-width: 767px) {

    body {
        margin: 0;
        padding: 0;
    }

    header > h2 {
        margin-top: 0;
        font-size: 26px;
    }

    header > h1 {
        font-size: 32px;
    }

    header > p {
        font-size: 13px;
    }

    .btn-large {
        font-size: 13px;
    }

    #fork_me { display: none; }

}
