@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body{
    font-size: 1.4em;
    text-rendering: optimizeLegibility;
}

small{
    font-size: .5em;
}

.content{
    font-family: 'Lato';
    padding: 5px;
}

.content h1{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

.content h2{
    margin: 2em 0 2em 0;
    text-align: center;
    font-weight: 300;
    font-size: 1em;
    color: #888;
    text-transform: uppercase;
}

.content p{
    font-weight: 100;
    line-height: 2em;
    text-align: justify;
}

.content a{
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

.content .foot-note{
    color: #ccc;
    border-top: 1px solid #eee;
    padding-top: 1em;
    font-size: .8em;
    text-align: center;
}

.grey{
    color: #ccc;
}

::selection {
background:red;
color:#fff;

}

::-moz-selection {
background:red;
color:#fff;
}

::-webkit-selection {
background:red;
color:#fff;
}

#all_the_things{
    position: fixed;
    bottom: 0;
    left: 1em;
    width: 20%;
}

#rubber{
    margin-top: 5px;
    height: 5px;
    background-color: red;
}